[user]
  name = keer2345
  email = keer2345@gmail.com
[color]
  ui = true
[core]
  editor = vim
[alias]
  st = status
  ci = commit -a -v
  throw = reset --hard HEAD
  throwh = reset --hard HEAD^
  co = checkout
  br = branch
[push]
  default = simple
[http]
  postBuffer = 524288000
[credential]
  helper = store
